<mica-section-frame appTitle="GPIO" [showHeader]="showFrame" [showBack]="false">
  <app-device group="main"></app-device>
  <app-reports group="main"></app-reports>
  <mica-subscribers labelWidth ="35em" group="main" ></mica-subscribers>
  <div class="documentation">
    <a class="link" target="_blank" rel="noopener noreferrer"  href="https://github.com/menucha-de/App.GPIO">Documentation</a>
    <a class="link" target="_blank" rel="noopener noreferrer"  href="openapi/?path=/{{container}}/rest/gpio/apidocs">REST API</a>
    <a class="link" target="_blank" rel="noopener noreferrer"  href="mailto:info@menucha.de">Contact Support</a>
  </div>
</mica-section-frame>
